body {
    /* fixes "nav covers content" issue */
    padding-top: 4rem;
}

/* dark input background for inverted forms */
.form-control.form-dark {
    background-color: rgba(255,255,255,0.1);
    border-color: grey;
    color: white;
}

/* adjust border color to adjoining button */
.form-control.form-dark.form-group-outline-btn-info {
    border-color: #5bc0de;
    color: #5bc0de;
}

.footer {
    /* footer fix: place it on the very bottom! (not absolute or relative!) */
    position: fixed;
    bottom: 0;
    /* move a distance from the above content */
    margin-top: 1em;
    /* span over the entire width of the page */
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}