# GITIGNORE

# Composer-specific files
composer.phar
vendor/*

# next up, no project files -- note that a IDE-native project import will be
# necessary to work with the project properly...

# IntelliJ IDEA project files
*.iml
*.iws
.idea/

# Eclipse Project files
.project
.classpath
.settings

# MAC Stuff
.DS_Store